Learning_Path_Generator_ai_agents.json
{
  "name": "Learning_Path_Generator_ai_agents",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "9e412b27-68f8-45f6-a430-88e6dba710dd",
      "name": "When chat message received",
      "webhookId": "06e303ba-d79c-4497-849f-8daa63f71d43"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a day-wise learning path generator. When given a learning goal, create a curriculum with Google Docs and Calendar events.\n\nSTEP 1: PLAN THE CURRICULUM\nPlan the topics based on the number of days requested. Structure from beginner to advanced.\n\nSTEP 2: DETERMINE START DATE\nIf user says \"starting tomorrow\" → use tomorrow's date\nIf user says \"starting next Monday\" → calculate next Monday\nIf user says \"starting from [date]\" → use that date\nIf NO date mentioned → use TODAY's date\nToday is {{$now.format('YYYY-MM-DD')}}\n\nSTEP 3: RESEARCH RESOURCES\nSearch 2-3 times and extract ACTUAL URLs for each search:\n- Search \"[Topic] beginner tutorial\" → Extract the actual https:// link\n- Search \"[Topic] official documentation\" → Extract the actual https:// link\n- Search \"[Topic] YouTube course\" → Extract the actual https:// link\nStore the complete URLs (starting with https://)\n\nSTEP 4: CREATE DOCUMENT\nCreate a new document titled \"[X]-Day [Topic] Learning Path\"\nStore the document ID from the response.\n\nSTEP 5: UPDATE DOCUMENT WITH CONTENT AND URLS\nUpdate the document with this exact format, inserting actual extracted URLs:\n\nDay 1: [Topic Name]\nDescription: [2-3 sentences]\nKey Learning Points:\n- [Point 1]\n- [Point 2]\n- [Point 3]\nReference Links:\nVideo: [YouTube URL - must be https://www.youtube.com/...]\nArticle: [Article URL - must be https://...]\nDocumentation: [Docs URL - must be https://...]\nDuration: 2 hours\n\nRepeat for all days. ALWAYS include the complete https:// link after each label.\n\nSTEP 6: CREATE CALENDAR EVENTS\nFor each day, create one event:\n- Title: \"Day X: [Topic Name]\"\n- Date: Calculate day-wise (Day 1 = START_DATE, Day 2 = START_DATE+1, etc.)\n- Start Time: 11:00:00+05:30\n- End Time: 13:00:00+05:30\n- Description: Include key learning points and all reference links with https:// URLs\n\nSTEP 7: FINAL OUTPUT\nRespond with:\n\"Learning Path Complete!\nDocument: [Google Docs URL]\nCalendar: I've added [X] events from [START_DATE] to [END_DATE] at 11:00 AM.\nYour [X]-day [topic] learning journey is ready!\"\n\nCRITICAL:\n- Every reference link MUST be a complete URL starting with https://\n- Do NOT insert link titles - insert actual URLs only\n- Format: \"Video: https://www.youtube.com/...\" NOT \"Video: [Title Name]\"\n- All calendar event descriptions must include the actual https:// URLs\n- Search results must provide complete, clickable links",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "439c1449-7e7a-4972-91b0-e88ec0ee730d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        224
      ],
      "id": "c16a7f07-3ebb-4fde-b3a8-e6f5f8126052",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UaZA3NzuQaufnzgU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1-oD7CKXkCKCsO2ui4F3MYVkNhZPDfQvYSP99FT5nBXVjb19vUS_xMFzbhAUgj-wS3HA4unQe",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        480,
        224
      ],
      "id": "c192086c-f239-4ae6-bf16-3a59daac5160",
      "name": "Create a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bjHYLsExvPfwIq0W",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        608,
        224
      ],
      "id": "3a966723-3de3-421a-83b3-da20d64907ae",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bjHYLsExvPfwIq0W",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sanchitlanjewar13@gmail.com",
          "mode": "list",
          "cachedResultName": "sanchitlanjewar13@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        224
      ],
      "id": "9da6fbaa-40f0-4693-8c20-bf50547a9ac6",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QEGizPDSVz3yvRdf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=google search in SerpApi {{ $json.chatInput }}",
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__q_', ``, 'string') }}",
        "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location__location_', ``, 'string') }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "0f65a664-541a-45ca-b607-1ae7f7b5a840",
      "name": "Google search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "PPbB0G3EkUgzimhf",
          "name": "SerpApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e3a7c546-6b3c-4c39-8f7f-b982367663a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c986131a23381663f28cd82f09eaac50608744073ccb734a0419308fc2b415c1"
  },
  "nodeGroups": [],
  "id": "81fheBEVJoIAFAAn",
  "tags": []
}